<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <?!= include('frontend/css/stylesheets'); ?>
  <title>Document</title>
</head>
<body>
  <section id="content">
    <div id="main">

    </div>
  </section>
  <?!= include('frontend/libraries'); ?>
  <?!= include('frontend/services'); ?>
  <?!= include('frontend/beforeLoadPage'); ?>
  <?!= include('frontend/department-app'); ?>
  <?!= include('frontend/graphFunctions'); ?>
  <?!= include('frontend/core'); ?>
  <?!= include('frontend/orderFunctions'); ?>
  <?!= include('frontend/additionalFunction'); ?>
</body>
</html>
